.slide_card {
    width: 100%;
    height: 800px;
}

// .slide_image {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     // object-position: center;
// }

.standartWide {
    position: relative;
    overflow: hidden;
}

.standartWide:before {
    display: block;
    content: "";
    padding-bottom: 57.5%;
}

.standartWide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    top: 0;
    left: 0;
}

@media screen and (max-width: 767px) {
    .slide_card {
        margin-top: 0px;
        height: auto;
    }
    .standartWide {
        object-position: center;
    }
}
