.main {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    min-height: 100vh;
    background-color: #e9b4de59;
}

@media screen and (max-width: 767px) {
    .main {
        padding: 0px;
    }
}
